.game-board {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
}

.square {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: whitesmoke;
}

.square:hover {
  cursor: pointer;
  background-color: goldenrod;
  transition: 0.2s all;
}

.square-selected {
  background-color: goldenrod;
  font-weight: 800;
}

.disable-game-board {
  pointer-events: none;
}

.game-over {
  display: none;
  background-color: gray;
  color: whitesmoke;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.show-board {
  display: flex;
}
