html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.game-board {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
}

.square {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: whitesmoke;
}

.square:hover {
  cursor: pointer;
  background-color: goldenrod;
  transition: 0.2s all;
}

.square-selected {
  background-color: goldenrod;
  font-weight: 800;
}

.disable-game-board {
  pointer-events: none;
}

.game-over {
  display: none;
  padding: 2rem;
  background-color: gray;
  color: whitesmoke;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.show-board {
  display: flex;
}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid gray;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.turn-text {
  font-size: 2.4rem;
}

.game-setup {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.6rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.form-box {
  margin: 0 auto 0.5rem;
}

.form-box input[type="text"] {
  padding: 0.5rem;
}

.display-none {
  display: none;
}

.form-submit,
.reset {
  padding: 1rem;
  background: royalblue;
  border: none;
  color: whitesmoke;
  transition: 0.2s;
}

.form-submit:hover,
.reset:hover {
  cursor: pointer;
  background: goldenrod;
}
